<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.loveoyh.note.dao.ShareDAO">
	
	<insert id="save" parameterType="com.loveoyh.note.entity.Share">
		insert into cn_share(
			cn_share_id,
			cn_note_id,
			cn_share_title,
			cn_share_body
		) values(
			#{id},
			#{noteId},
			#{title},
			#{body}
		)
	</insert>
	
</mapper>